# DATABASE CONFIGURATION (DOCKER CONTAINER AND SPRING CONFIGURATION)
POSTGRES_DB=user_services
POSTGRES_HOST=pgsql:5432 # DO NOT PUT JDBC:POSTGRESQL:// IN THE START AND / IN THE END
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# RABBITMQ CONFIUGRATION (DOCKER CONTAINER AND SPRING CONFIGURATION)
RABBITMQ_DEFAULT_HOST=rabbitmq
RABBITMQ_DEFAULT_PORT=5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin123

# REDIS CONFIGURATION (DOCKER CONTAINER AND SPRING CONFIGURATION)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=admin123

# GMAIL CONFIGURATION
GMAIL_ADDRESS=your@gmail.com
GMAIL_SECRET_KEY=aaaabbbbccccdddd

# CONTENT SERVER / FOLDER
IMAGE_FILE_DIR=/path/to/your/images/folder/or/content/server/

# SECRETS
RSA_PRIVATE_KEY=/path/to/your/rsa/private.key
RSA_PUBLIC_KEY=/path/to/your/rsa/public.key


