# DATABASE CONFIGURATION (DOCKER CONTAINER AND SPRING CONFIGURATION)
# DO NOT PUT JDBC:POSTGRESQL:// IN THE START AND / IN THE END
POSTGRES_DB=user_services
POSTGRES_HOST=pgsql:5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# RABBITMQ CONFIUGRATION (DOCKER CONTAINER AND SPRING CONFIGURATION)
RABBITMQ_DEFAULT_HOST=rabbitmq
RABBITMQ_DEFAULT_PORT=5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin123

# REDIS CONFIGURATION (DOCKER CONTAINER AND SPRING CONFIGURATION)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=admin123

# GMAIL CONFIGURATION
GMAIL_ADDRESS=your@gmail.com
GMAIL_SECRET_KEY=aaaabbbbccccdddd

# CLOUD STORAGE
GOOGLE_CLOUD_PROJECT=gcp-project-name
GOOGLE_CLOUD_CREDENTIALS=/path/to/gcp/service/account/credentials.json
GOOGLE_CLOUD_BUCKET=gcp-bucket-name

# SECRETS
SENTRY_DSN=http://example.xyz/...
SENTRY_AUTH_TOKEN=your_authentication_token
RSA_PRIVATE_KEY=/path/to/your/rsa/private.key
RSA_PUBLIC_KEY=/path/to/your/rsa/public.key


